
.background-image {
    background: url("images/pattern-background-mobile.svg") center/cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.main {
    background-color: green;
    font-size: 16px;
    margin: 100px;
    margin-left: 350px;
    margin-right:350px;
}